.right {
    width: 350px;
    height: 550px;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    float:right;
    margin-top: 17px;
    margin-right: 333px;
    text-align: center;
}

.right-bot {
    width: 350px;
    height: 150px;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    position: absolute;
    margin-top: 17px;
    margin-right: 333px;
    text-align: center;
}

.left {
    float: left;
    margin-left: 275px;
    margin-top: 80px;
}

body {
    margin: 0px;
    background: #fafafa;
}

.insta-pic {
    margin-top: 25px;
}

.box {
    text-size: 16px;
    padding: 9px 0 7px 8px;
    border: 0;
    width: 250px;
    margin-top: 5px;
    height: 20px;
    background: #fafafa;
    border: 1px solid #e6e6e6;
    border-radius: 1px;

}

.text {
    color: #999;
    font-size: 14px;
    font-family: Arial;
}

a {
    font-weight: bold;
    color: #999;
    text-decoration: none;
}

